<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <TxConfig type="Txooo.TxConfig">
    <!--当前应用程序信息-->
    <App name="测试应用程序" />
    <!--变量信息-->
    <Variable>
      <Add name="DefaultSkinPath" value="~/Skin/lsjmw/Tx_Skin.config" />
    </Variable>
  </TxConfig>
  
  <!--数据库信息-->
  <Database type="Txooo.Data.DatabaseConfig">
    <ConnString>
      <TxoooMobile IfEncrypt="false">Server=10.10.10.41;Database=TxoooMobile;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooMobile>
      <TxoooCMS08 IfEncrypt="false">Server=10.10.10.2;Database=TxoooCMS08;UID=TxoooCMSWebUser;Password=TxoooCMSPsw@))^Admin;</TxoooCMS08>
      <TxoooPassport IfEncrypt="false">Server=10.10.10.30;Database=TxoooPassport;UID=TxoooPassportWebUser;Password=TxoooPassportWeBUsErPswOrd;</TxoooPassport>     
      <TxoooPassportOld IfEncrypt="false">Server=10.10.10.10;Database=TxoooPassport;UID=TxoooPassportWebUser;Password=TxoooPassportWeBUsErPswOrd;</TxoooPassportOld>
      <TxoooCMS IfEncrypt="true">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooCMS>
      <TxoooNEx IfEncrypt="false">Server=10.10.10.28;Database=TxoooNEx;UID=TxoooNExWebUserLogo;Password=TxoooNExWebUser2012AmdPsw@)12;</TxoooNEx>
      <TxoooEnterprise IfEncrypt="false">Server=10.10.10.12;Database=TxoooEnterprise;UID=TxoooEnterpriseWebUser;Password=TxoooEnterpriseWEBUserPsword;</TxoooEnterprise>
      <TxoooSAAS IfEncrypt="false">Server=10.10.10.206;Database=TxoooSAAS;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooSAAS>
      <TxoooOffice IfEncrypt="false">Server=192.168.1.2;Database=TxoooOffice;UID=TxoooOfficeUser;Password=TxoooOfficeUser;</TxoooOffice>
      <TxoooOfficeLog IfEncrypt="false">DD82F6C20796BC1D2C527645A186A52F5859B4B2AB3CCC3F2120297CEE7FEE980BEC3E7689CC458E8B09F3CF18CBDEA2F9595C8D56CE5064D824ADB8EDA4AFD48F95782AC0C884C2B4F0917D264C1A58FCBC19649091875A9EA9A2EFE7DA85AF</TxoooOfficeLog>
      <TxoooOfficeCheck IfEncrypt="false">DD82F6C20796BC1D2C527645A186A52F5859B4B2AB3CCC3F2120297CEE7FEE9862AF618CF0721ED6A8F12AC6E8209730861B1ACE021BFF15137E95165A413DF678E883A3409C5C248E1BD0B73BD4F6D835855AE683F7F75E627DCD38A9DAFADE</TxoooOfficeCheck>
      <TxoooOffice01 IfEncrypt="false">DD82F6C20796BC1D2C527645A186A52F5859B4B2AB3CCC3F2120297CEE7FEE98B9B38E87E3D16541BE32D0FD9A9DD13D26EBE0DFA58D87A173E9C886EE71E4B0D5E3351F0D1A9A313AEA3370DBE493CFD77D6B235909F54E</TxoooOffice01>
      <TxoooCloud IfEncrypt="false">Server=10.10.10.29;Database=TxoooCloud;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooCloud>
      <TxoooBrands IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrands;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrands>
      <TxoooBrandsRoutLog IfEncrypt="false">Server=10.10.10.29;Database=TxoooBrandsRoutLog;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooBrandsRoutLog>
      <ClickStream IfEncrypt="false">Server=10.10.10.253;Database=ClickStream;UID=TxWebClickStreamLogUser;Password=TxWebClickStreamLogUser;</ClickStream>
      <TxoooUserLog IfEncrypt="false">Server=10.10.10.41;Database=TxoooUserLog;UID=TxoooNewDataBaseDesignUser;Password=Tx)))NewSJCoolSJPassWORderAdmin;</TxoooUserLog>
      <TxoooMy IfEncrypt="false">Server=192.168.1.33;Database=Test;UID=sa;Password=zdl;</TxoooMy>
    </ConnString>
  </Database>
  
</configuration>